.header {
	/* height: 100px; */
	background-color: #014eb9;
	color: white;
	display: flex;
	justify-content: center;
	/* border-bottom: 0.5px solid black;
	border-top: 0.5px solid black; */
	padding: 0.5rem;
	/* width: 100%; */
}

.headerContainer {
	width: 100%;
	max-width: 1024px;
	margin: 10px 0px 10px 0px;
}
.headerList {
	display: flex;
	gap: 60px;
}
.headerListItems {
	display: flex;
	align-items: center;
	/* margin: auto; */
	/* padding: 1rem; */
}

.headerListItems > span {
	font-size: 1.2rem;
	font-weight: bold;
}

.headerListItems > span:hover {
	opacity: 50%;
}

.headerBtn {
	background-color: #0071c2;
	color: white;
	font-weight: 500;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
}

.book-ticket-btn {
	text-decoration: none;
	color: aliceblue;
}
