.home {
	width: 100%;
}

.hfeature {
	/* background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d); */
	height: 300px;
	text-align: center;
}
.hfeature p {
	margin: 0;
	font-size: 30px;
}
