.navbar{
  height: 50px;
  background-color: #22a2c9;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  cursor: pointer;
  margin-left: 40px;
  font-size: .85rem;
  text-transform: uppercase;
}

.logo:hover{
  color: #fff;
  border-bottom: 2px solid #EE9B00;
  padding-bottom: 5px;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #1c8c40;
}