
.navbar-container {
    height: 50px;
    padding: 0.5em;
    width: 100%;
    background-color: #444451;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 80%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .logo {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
} */


.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navContainer span {
    color: red;
}